@charset "UTF-8";
body{
    background-color: rgba(247, 236, 215, 0.89);
    margin: auto;
 }
 
 nav{
     background-color:#A3B6AB;
     margin: 0px;
     padding: 1px;
     font-weight:normal;
     font-family: 'Times New Roman', Times, serif;
     font-size: large;
     color: rgba(107, 136, 115, 0.568);
     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
 }
 
 nav a{
     color: rgba(0, 0, 0, 0.74);
     text-decoration: none;
     margin: 15px;
 }
 
 nav a:hover{
     color:  rgb(0, 0, 0);
     text-decoration: underline;
 }
 
 
 main h1{
     text-align: center;
     font-size: 30px;
     font-family:serif;
     color: rgba(0, 0, 0, 0.911);
     margin: 20px;
 }
 h1 {
    margin: 50px;
 }
 
 #imagem {
text-align: center;
background-color: #A3B6AB;
margin: auto;
padding: 50px;
border-radius: 10px;
}

img {
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
}
